.container {
  max-width: 1270px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  background: url(../img/fon_2.png) no-repeat center center fixed;
  background-size: cover;
}

.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.header .header_block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.1fr 1.5fr 0.1fr;
      grid-template-columns: 0.1fr 1.5fr 0.1fr;
}

.header .header_block .links_perfocrepesh .list_of_links_perfocrepesh {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header_block .links_perfocrepesh .list_of_links_perfocrepesh li {
  list-style-type: none;
}

.header .header_block .links_perfocrepesh .list_of_links_perfocrepesh li a {
  cursor: pointer;
  background: none;
  border: none;
  color: #000;
  font-size: 18px;
  text-decoration: none;
  color: #140605;
}

.header .header_block .links_perfocrepesh .list_of_links_perfocrepesh li button {
  cursor: pointer;
  background: none;
  border: none;
  color: #000;
  font-size: 18px;
  color: #140605;
}

.header .header_block .links .list_of_links {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header_block .links .list_of_links li {
  list-style-type: none;
}

.header .header_block .links .list_of_links li a {
  cursor: pointer;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.header .header_block .links .list_of_links li button {
  cursor: pointer;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
}

.header .header_block .contact_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header_block .contact_list .contact_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header_block .contact_list .contact_wrapper li {
  font-size: 25px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 30px;
}

.header .header_block .contact_list .contact_wrapper li .fa-viber {
  color: #7360f2;
}

.header .header_block .contact_list .contact_wrapper li .fa-telegram {
  color: #229ED9;
}

.header .header_block .contact_list .contact_wrapper li .fa-whatsapp {
  color: #25D366;
}

.header__burger {
  display: none;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
}

.wrapper .wrapper_additional .block_of_info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
  margin-bottom: 60px;
}

.wrapper .wrapper_additional .block_of_info .left_block .title {
  color: #fff;
  font-size: 46px;
  font-weight: bold;
}

.wrapper .wrapper_additional .block_of_info .left_block .main_text {
  color: #fff;
  font-size: 28px;
  margin-bottom: 50px;
  width: 70%;
  line-height: 35px;
}

.wrapper .wrapper_additional .block_of_info .left_block .button_main {
  text-decoration: none;
  color: #fff;
  background: linear-gradient(45deg, #026018, #13f465);
  padding: 15px 30px 15px 30px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 24px;
}

.wrapper .wrapper_additional .block_of_services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
}

.wrapper .wrapper_additional .block_of_services .card_block {
  text-align: center;
}

.wrapper .wrapper_additional .block_of_services .card_block .text_block {
  color: #fff;
}

.wrapper .wrapper_additional .block_of_services .card_block .text_block .title_text {
  font-size: 24px;
}

@media (max-width: 1199px) {
  .links_perfocrepesh.active {
    position: fixed;
    overflow-x: auto;
    top: 0;
    right: 0;
    width: 100%;
    height: 60%;
    padding: 60px 24px 32px 24px;
    background: #F7F4F0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .header_block .links_perfocrepesh .list_of_links_perfocrepesh {
    display: block;
    line-height: 50px;
    margin: 0 auto;
  }
  .header_block {
    -ms-grid-columns: 1fr 0.1fr !important;
        grid-template-columns: 1fr 0.1fr !important;
  }
  .links_perfocrepesh {
    display: none;
  }
  .contact_list {
    display: none !important;
  }
  .header__burger {
    display: block;
    width: 36px;
    height: 24px;
    z-index: 2;
    margin: auto;
    float: right;
    text-align: right;
    position: relative;
  }
  .header__burger::after, .header__burger::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #140605;
    left: 0;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background: #140605;
    left: 0;
    top: 10px;
  }
  .header__burger.active::before {
    opacity: 0;
    visibility: hidden;
  }
  .header__burger.active::after {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 10px;
  }
  .header__burger.active span {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 0;
  }
}

@media (max-width: 1025px) {
  .landscape .landscape_wrapper .landscape_photo {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 991px) {
  .wrapper .wrapper_additional .block_of_info .right_block .contact_block {
    padding-left: 40px;
  }
  .right_block .title_text p {
    font-size: 30px;
    margin-bottom: 10px;
  }
}

@media (max-width: 910px) {
  .wrapper .wrapper_additional .block_of_services {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 769px) {
  .wrapper .wrapper_additional .block_of_info {
    display: block;
  }
  .wrapper .wrapper_additional .block_of_info .left_block {
    margin-top: 0px;
  }
  .wrapper .wrapper_additional .block_of_info .left_block .main_text {
    width: 100%;
  }
  .wrapper .wrapper_additional .block_of_info .left_block .title {
    margin: 0;
    padding-top: 30px;
  }
  .header .header_block .phone {
    display: none;
  }
}

@media (max-width: 481px) {
  .wrapper .wrapper_additional .block_of_services {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 426px) {
  .wrapper .wrapper_additional .block_of_info .left_block .button_main {
    font-size: 18px;
  }
  .wrapper .wrapper_additional .block_of_info .left_block .main_text {
    font-size: 18px;
  }
  .wrapper .wrapper_additional .block_of_info .left_block .main_text b {
    font-size: 20px !important;
  }
  .wrapper .wrapper_additional .block_of_info .left_block .title {
    font-size: 30px;
  }
  .wrapper .wrapper_additional .block_of_info .right_block .contact_block {
    font-size: 18px;
  }
  .wrapper .wrapper_additional .block_of_info .right_block .title_text p {
    font-size: 24px;
  }
  .wrapper .wrapper_additional .block_of_services .card_block .text_block .title_text {
    font-size: 20px;
  }
}

@media (max-width: 376px) {
  .wrapper .wrapper_additional .block_of_info .right_block .contact_block {
    padding-left: 20px;
  }
  .header .header_block .contact_list .contact_wrapper a {
    font-size: 40px;
    margin-top: -20px;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.7);
}

.modal .modal_wrapper {
  margin: 0 auto;
  text-align: center;
  background: #ffffff;
  width: 55%;
  border-radius: 20px;
  display: none;
  height: 100%;
  height: -webkit-fill-available;
  z-index: 1;
  margin-top: 15px;
  margin-bottom: 40px;
  overflow: auto;
}

.modal .modal_wrapper .close_modal {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: end;
  padding: 0 15px;
}

.modal .modal_wrapper .close_modal:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal .modal_wrapper .close_modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal .modal_wrapper .modal_form {
  padding: 30px;
  margin-bottom: 70px;
}

.modal .modal_wrapper .modal_form .modal_form_label {
  font-size: 30px;
  padding-top: 20px;
}

.modal .modal_wrapper .modal_form .modal_form_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  margin-top: 20px;
}

.modal .modal_wrapper .modal_form .modal_form_wrapper .card a {
  color: #fff;
  background: linear-gradient(45deg, #026018, #13f465);
  padding: 10px 25px 10px 25px;
  border-radius: 20px;
  text-decoration: none;
  margin-bottom: 20px;
}

.modal .modal_wrapper .modal_form .modal_form_wrapper .card .text_under_photo {
  position: absolute;
  background: #00ba20;
  padding: 5px 10px;
  border-radius: 0 6px 6px 0;
  color: #fff;
  pointer-events: none;
  margin-bottom: 20px;
  margin-top: 5px;
  font-size: 12px;
}

.modal .modal_wrapper .modal_form .modal_form_wrapper .card .img-wrap {
  margin-bottom: 20px;
}

.modal .modal_wrapper .modal_form .modal_form_wrapper .card .img-wrap a {
  background: none;
  padding: 0;
}

.modal .modal_wrapper .modal_form .modal_form_wrapper .card .img-wrap a img {
  width: 100%;
  height: 200px;
}

.contact_block .contact_wrapper .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
}

.contact_block .contact_wrapper .wrapper .card_contact {
  padding: 24px 0px 24px 24px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 3px 5px #1406051a;
  box-shadow: 0px 3px 5px #1406051a;
  border-radius: 2px;
}

.contact_block .contact_wrapper .wrapper .card_contact .input_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact_block .contact_wrapper .wrapper .card_contact .input_button .inpt {
  margin-right: 8px;
  padding: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  background: #FFFFFF;
  border: 1px solid #A09999;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
}

.contact_block .contact_wrapper .wrapper .card_contact .input_button .btn {
  padding: 16px 16px 16px 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#C89555), to(#9E6D2F));
  background: linear-gradient(180deg, #C89555 0%, #9E6D2F 100%);
  border-radius: 2px;
  border: none;
}

.contact_block .contact_wrapper .wrapper .card_contact .title {
  font-weight: bold;
  font-size: 30px;
  line-height: 28px;
  color: #594E4B;
}

.contact_block .contact_wrapper .wrapper .card_contact .name {
  font-weight: bold;
  font-size: 24px;
  color: #140605;
}

.contact_block .contact_wrapper .wrapper .card_contact .contact {
  padding-left: 0;
}

.contact_block .contact_wrapper .wrapper .card_contact .contact li {
  font-size: 20px;
  text-decoration: none;
  list-style-type: none;
  padding-left: 0;
  line-height: 160%;
}

.contact_block .contact_wrapper .wrapper .card_contact .contact li span {
  font-weight: bold;
  color: #A23228;
}

.contact_block .contact_wrapper .contact_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact_block .contact_wrapper .contact_link p {
  font-size: 16px;
  color: #A09999;
}

.contact_block .contact_wrapper .contact_link p a {
  color: #594E4B;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 1px solid #594E4B;
}

.contact_block .contact_wrapper .contact_link span {
  margin-top: 15px;
}

.contact_block .contact_wrapper .contact_additional .contact_title .text_top {
  margin-bottom: 12px;
  font-family: Roboto Condensed;
  font-style: italic;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .contact_block .contact_wrapper .wrapper {
    display: block;
  }
}

@media (max-width: 426px) {
  .contact_block .contact_wrapper .wrapper .card_contact .input_button {
    display: block;
    line-height: 100px;
  }
  .contact_block .contact_wrapper .wrapper .card_contact .contact li {
    font-size: 16px;
  }
  .contact_block .contact_wrapper .wrapper .card_contact .title {
    font-size: 24px;
  }
  .contact_block .contact_wrapper .wrapper .card_contact .name {
    font-size: 20px;
  }
  .contact_block .contact_wrapper .contact_additional .contact_title .text_top {
    font-size: 30px;
  }
}

.perfocrepesh_block {
  margin-bottom: 50px;
}

.perfocrepesh_block .title_block {
  font-size: 32px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
}

.perfocrepesh_block .line {
  border: none;
  width: 5%;
  border-radius: 20px;
  background-color: #00ba20;
  color: #00ba20;
  height: 4px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.perfocrepesh_block .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  margin-top: 0px;
}

.perfocrepesh_block .wrapper .left_block img {
  width: 100%;
  border-radius: 10px;
}

.perfocrepesh_block .wrapper .right_block {
  font-size: 20px;
}

.perfocrepesh_block .wrapper .right_block .top_text {
  margin-top: 0;
}

.perfocrepesh_block .wrapper .right_block .char_list {
  padding-left: 0;
}

.perfocrepesh_block .wrapper .right_block .char_list li {
  list-style-type: none;
}

#carousel {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  overflow: hidden;
}

#carousel #scene {
  width: 42%;
  margin: 40px auto 0 auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#carousel #scene .carousel_item {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 230px;
  padding: 0 20px 0 10px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#carousel #scene .carousel_item:not(:first-of-type) {
  position: absolute;
  left: 0;
  top: 0;
}

#carousel #carousel_btn {
  margin: 0 auto;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#carousel #carousel_btn .btn {
  margin-top: 15px;
  width: 75px;
  height: 75px;
  line-height: 40px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20%;
  padding-top: 13px;
  float: left;
  border: 2px solid #2f2f2f;
  color: #2f2f2f;
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#carousel #carousel_btn .btn:hover {
  color: #ffffff;
  background-color: #00ba20;
}

#carousel #carousel_btn > div:first-child {
  margin-right: 50px;
}

.landscape .landscape_wrapper {
  text-align: center;
}

.landscape .landscape_wrapper .landscape_title .title {
  font-size: 34px;
  font-weight: bold;
}

.landscape .landscape_wrapper hr {
  width: 5%;
  background: #00ba20;
  margin-bottom: 30px;
}

.landscape .landscape_wrapper .landscape_text {
  text-align: center;
}

.landscape .landscape_wrapper .landscape_text .text {
  margin: 0 auto;
  font-size: 18px;
  width: 60%;
  margin-bottom: 50px;
}

.landscape .landscape_wrapper .landscape_photo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  margin-bottom: 80px;
}

.landscape .landscape_wrapper .landscape_photo img {
  height: 300px;
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}

.landscape .landscape_wrapper .landscape_photo img:hover {
  cursor: pointer;
}

.modal_img {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content (image) */
.modal-content_img {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.close_img {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.close_img:hover,
.close_img:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1025px) {
  .landscape .landscape_wrapper .landscape_photo {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 992px) {
  .perfocrepesh_block .wrapper {
    display: block;
  }
}

@media (max-width: 768px) {
  .landscape .landscape_wrapper .landscape_photo {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .landscape .landscape_wrapper .landscape_text .text {
    width: 100%;
  }
  .perfocrepesh_block .line {
    width: 15%;
  }
}

@media (max-width: 426px) {
  .landscape .landscape_wrapper .landscape_title .title {
    font-size: 28px;
  }
}

.contact_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.contact_link p {
  font-size: 16px;
  color: #A09999;
}

.contact_link p a {
  color: #594E4B;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 1px solid #594E4B;
}

.contact_link span {
  margin-top: 15px;
}

.service_block {
  margin-bottom: 30px;
}

.service_block .service_wrapper .wrapper .title_block {
  font-weight: bold;
  font-size: 36px;
  margin-top: 10px;
}

.service_block .service_wrapper .wrapper .line {
  border: none;
  width: 5%;
  border-radius: 20px;
  background-color: #00ba20;
  color: #00ba20;
  height: 4px;
}

.service_block .service_wrapper .wrapper .service {
  padding-left: 0;
}

.service_block .service_wrapper .wrapper .service li {
  list-style-type: none;
  line-height: 40px;
  font-size: 24px;
}

.wrapper .content {
  margin-bottom: 50px;
}

.wrapper .content .card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.wrapper .content .card .card_block {
  background: url(../img/service_2.jpg) no-repeat center center;
  background-size: cover;
  height: 276px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}

.wrapper .content .card .card_block .img_back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(57.62%, rgba(35, 22, 21, 0)), to(rgba(35, 22, 21, 0.9))), -webkit-gradient(linear, left bottom, left top, from(rgba(35, 22, 21, 0.3)), to(rgba(35, 22, 21, 0.3)));
  background: linear-gradient(180deg, rgba(35, 22, 21, 0) 57.62%, rgba(35, 22, 21, 0.9) 100%), linear-gradient(0deg, rgba(35, 22, 21, 0.3), rgba(35, 22, 21, 0.3));
}

.wrapper .content .card .card_block p {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  padding: 0 0 0 16px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.wrapper .content .card .card_block img {
  width: 100%;
}

@media (max-width: 991px) {
  .wrapper .content .card {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .wrapper .content .card {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .wrapper .content .card .card_block {
    background: url(img/service_2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.back_to_top {
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  font-size: 30px;
  background: #00ba20;
  color: #fff;
  cursor: pointer;
  display: none;
}

.back_to_top:hover {
  background: #02a91e;
}

.back_to_top-show {
  display: block;
}
