body{
    margin: 0;
    padding: 0;

}
.wrapper{  
    background: url(../img/fon_2.png) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    & .wrapper_additional{

        & .block_of_info{
            
            display: grid;
            grid-template-columns: 1.5fr 1fr;
            margin-bottom: 60px;
            & .left_block{
                margin-top: 50px;
            & .title{
                color: #fff;
                font-size: 46px;
                font-weight: bold;
            }
            & .main_text{
                color: #fff;
                font-size: 24px;
                margin-bottom: 50px;
                width: 70%;
                line-height: 35px;
            }
            & .button_main{
                text-decoration: none;
                color: #fff;
                background: linear-gradient(45deg, #026018, #13f465);
                padding: 15px 30px 15px 30px;
                border-radius: 20px;
                cursor: pointer;
                font-size: 24px;
                
            }
            }
            & .right_block{
                background-color: rgba(255,255,255,.7);
                border: 0.4rem solid #ede623;
                margin-top: 50px;
           
                & .title_text{
                    font-size: 34px;
                    font-weight: bold;
                    text-align: center;
                    
                }
                & .contact_block{
                    padding-left: 20px;
                    font-size: 20px;
                    line-height: 50px;
                    
                    & li{
                        list-style-type: none;
                        & i{
                        color: #4555b9;
                        }
                        & a{
                            text-decoration: none;
                            color: #000;
                           
                        }
                    }
                }
            }
        }
        & .block_of_services{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-column-gap: 20px;
            & .card_block{
                text-align: center;
                & .img_block{

                }
                & .text_block{
                    color: #fff;
            
                    & .title_text{
                        
                        font-size: 24px;
                    }
                }
            }
        }
    }
}