body{
    margin: 0;
    padding: 0;

}
.wrapper{  
    
    width: 100%;
    & .wrapper_additional{

        & .block_of_info{
            
            display: grid;
            grid-template-columns: 1.5fr 1fr;
            margin-bottom: 60px;
            & .left_block{
           
            & .title{
                color: #fff;
                font-size: 46px;
                font-weight: bold;
            }
            & .main_text{
                color: #fff;
                font-size: 28px;
                margin-bottom: 50px;
                width: 70%;
                line-height: 35px;
            }
            & .button_main{
                text-decoration: none;
                color: #fff;
                background: linear-gradient(45deg, #026018, #13f465);
                padding: 15px 30px 15px 30px;
                border-radius: 20px;
                cursor: pointer;
                font-size: 24px;
                
            }
            }
            & .right_block{
               
           
              
            }
        }
        & .block_of_services{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-column-gap: 20px;
            & .card_block{
                text-align: center;
                & .img_block{

                }
                & .text_block{
                    color: #fff;
            
                    & .title_text{
                        
                        font-size: 24px;
                    }
                }
            }
        }
    }
}
