.perfocrepesh_block{
    & .title_block{
        font-size: 32px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    & .line{
        border: none;
        width: 5%;
        border-radius: 20px;
        
                       background-color: #00ba20; 
          color: #00ba20;; 
        height: 4px; 
        margin-top: 0px;
        margin-bottom: 20px;

    }
    & .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
 
        
        margin-top: 0px;
        & .left_block{
            & img{
                width: 100%;
                border-radius: 10px;
            }
        }
        & .right_block{
            font-size: 20px;
            & .top_text{
                margin-top: 0;
            }
            & .under_text{
                
            }
            & .char_list{
                padding-left: 0;
                & li{
                    list-style-type: none;
                }
            }
            & .last_text{

            }
        }
    }
}
$slide-width: 42%;

// Define gap between the slides
$slide-separation: 40px;

$distance: 1000px;

#carousel {
  perspective: $distance;
  overflow: hidden;

  #scene {
    width: $slide-width;
    margin: 40px auto 0 auto;
    transform-style: preserve-3d;
    transition: transform 0.5s;

    .carousel_item {
      width: 100%;
      box-sizing: border-box;
      height: 230px;
      padding: 0 ($slide-separation / 2) 0 ($slide-separation / 4);
      backface-visibility: hidden;
      &:not(:first-of-type) {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  #carousel_btn {

margin: 0 auto;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: center;
  }

  #carousel_btn .btn {
    margin-top: 15px;
    width: 75px;
    height: 75px;
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 20%;
    padding-top: 13px;
    float: left;
    border: 2px solid #2f2f2f;
    color: #2f2f2f;
    font-family: sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
  }

  #carousel_btn .btn:hover {
    color: #ffffff;
    background-color: #00ba20;
  }

  #carousel_btn > div:first-child {
    margin-right: 50px;
  }
}